@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-primary">Welcome to my Razor Pages Web App Demo!</h1>
    <br />
    <p class="lead">This was created to demonstrate sql crud in a razor pages web app.</p>
    <p class="lead">I'm using dapper for data access and host the site in Azure.</p>
    <p class="lead">Food List will show you a table of available foods to order with their descriptions and prices.</p>
    <p class ="lead">Create order will create a food order record.</p>
    <p class ="lead">After creating the order you can update the order name or delete the order entry.</p>
</div>
